<style>
   @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
 </style>
<div class="table-container__StyledTableContainer-sc-1mlv23c-0 gKKwvR esg__email-sig" font-size="large" style="font-size: 20px;">
    <table cellpadding="0" cellspacing="0" class="table__StyledTable-sc-1avdl6r-0 kAbRZI" style="vertical-align: -webkit-baseline-middle; font-size: large; font-family: Arial;">
       <tbody>
          <tr>
             <td>
                <table cellpadding="0" cellspacing="0" class="table__StyledTable-sc-1avdl6r-0 kAbRZI" style="vertical-align: -webkit-baseline-middle; font-size: large; font-family: Arial;">
                   <tbody>
                      <tr>
                         <td style="vertical-align:middle;">
                            <table cellpadding="0" cellspacing="0" class="table__StyledTable-sc-1avdl6r-0 kAbRZI" style="vertical-align: -webkit-baseline-middle; font-size: large; font-family: Arial;">
                               <tbody>
                                  <tr>
                                    <!-- <img src="https://i.ibb.co/Y25kTFp/New-file.gif" alt="New-file" border="0"> -->
                                     <td class="template1__ImageContainer-sc-nmby7a-0 gjVAKi" style="text-align: center;"><img src="https://i.ibb.co/Y25kTFp/New-file.gif" role="presentation" width="115" class="image__StyledImage-sc-hupvqm-0 gYgOut" style="display: block; max-width: 115px;"></td>
                                  </tr>
                                  <tr>
                                     <td height="0"></td>
                                  </tr>
                               </tbody>
                            </table>
                         </td>
                         <td width="10">
                            <div></div>
                         </td>
                         <td color="#e63223" direction="vertical" width="1" height="auto" class="color-divider__Divider-sc-1h38qjv-0 llIisW" style="width: 1px; border-bottom: none; border-left: 2px solid rgb(230, 50, 35);"></td>
                         <td width="20">
                           <div></div>
                        </td>
                         <td style="padding: 0px; vertical-align: middle;">
                            <h2 color="#000000" class="name__NameContainer-sc-1m457h3-0 jxbGUj" style="margin: 0px; font-size: 14.5px; color: rgb(0, 0, 0); font-weight: 700;font-family: 'Roboto', sans-serif;"><span>Carlotta</span><span>&nbsp;</span><span>Stoeckel</span></h2>
                            <p color="#000000" font-size="large" class="job-title__Container-sc-1hmtp73-0 ifJNJc" style="margin: 0px; color: rgb(0, 0, 0); font-size: 14px; font-weight: 400;font-family: 'Roboto', sans-serif;"><span>Direct Labour</span></p>
                            <table cellpadding="0" cellspacing="0" class="table__StyledTable-sc-1avdl6r-0 kAbRZI" style="vertical-align: -webkit-baseline-middle; font-size: large; font-family: Arial;">
                               <tbody>
                                 <div style="display: flex;font-size: 13px;margin-top:3px;margin-bottom: 3px;">
                                    <div class="number" style="display: flex;align-items: center;justify-content: center;"><a href="tel: 0420 515 377" style="text-decoration: none; display: flex;align-items: center;justify-content: center;"><img src="https://cdn2.hubspot.net/hubfs/53/tools/email-signature-generator/icons/phone-icon-2x.png" color="#e63223" alt="mobilePhone" width="13" class="contact-info__ContactLabelIcon-sc-mmkjr6-0 cnkwri" style="display: block; background-color: rgb(230, 50, 35);"><span style="color: rgb(0, 0, 0);font-size: 13px;font-weight: 300;font-family: 'Roboto', sans-serif;margin-left: 17px;">0420 515 377</span></a></div>
                                    <div class="number"style="display: flex;align-items: center;justify-content: center;" ><a href="https://wa.me/+4915752595982" target="_blank" style="text-decoration: none; display: flex;align-items: center;justify-content: center;"><img src="https://i.ibb.co/tBHVNnZ/icons8-whatsapp-30.png" color="#e63223" alt="mobilePhone" width="15" class="contact-info__ContactLabelIcon-sc-mmkjr6-0 cnkwri" style="margin-left: 17px;"><span style="color: rgb(0, 0, 0);font-size: 13px;font-weight: 300;font-family: 'Roboto', sans-serif;margin-left: 17px;">+49 1575 2595982</span></a></div>
                                 </div>
                                  <tr height="17" style="vertical-align: middle;">
                                     <td width="30" style="vertical-align: middle;">
                                        <table cellpadding="0" cellspacing="0" class="table__StyledTable-sc-1avdl6r-0 kAbRZI" style="vertical-align: -webkit-baseline-middle; font-size: large; font-family: Arial;">
                                           <tbody>
                                              <tr>
                                                 <td style="vertical-align: bottom;"><span color="#e63223" width="11" class="contact-info__IconWrapper-sc-mmkjr6-1 bglVXe" style="display: inline-block; background-color: rgb(230, 50, 35);"><img src="https://cdn2.hubspot.net/hubfs/53/tools/email-signature-generator/icons/email-icon-2x.png" color="#e63223" alt="emailAddress" width="13" class="contact-info__ContactLabelIcon-sc-mmkjr6-0 cnkwri" style="display: block; background-color: rgb(230, 50, 35);"></span></td>
                                              </tr>
                                           </tbody>
                                        </table>
                                     </td>
                                     <td style="padding: 0px;"><a href="mailto:danluke@directlabour.com" color="#000000" class="contact-info__ExternalLink-sc-mmkjr6-2 ibLXSU" style="text-decoration: none; color: rgb(0, 0, 0); font-size: 13px;font-weight: 300;font-family: 'Roboto', sans-serif;"><span>carly@directlabour.com.au</span></a></td>
                                  </tr>
                                  <tr height="18" style="vertical-align: middle;">
                                     <td width="30" style="vertical-align: middle;">
                                        <table cellpadding="0" cellspacing="0" class="table__StyledTable-sc-1avdl6r-0 kAbRZI" style="vertical-align: -webkit-baseline-middle; font-size: large; font-family: Arial;">
                                           <tbody>
                                              <tr>
                                                 <td style="vertical-align: bottom;"><span color="#e63223" width="11" class="contact-info__IconWrapper-sc-mmkjr6-1 bglVXe" style="display: inline-block; background-color: rgb(230, 50, 35);"><img src="https://cdn2.hubspot.net/hubfs/53/tools/email-signature-generator/icons/link-icon-2x.png" color="#e63223" alt="website" width="13" class="contact-info__ContactLabelIcon-sc-mmkjr6-0 cnkwri" style="display: block; background-color: rgb(230, 50, 35);"></span></td>
                                              </tr>
                                           </tbody>
                                        </table>
                                     </td>
                                     <td style="padding: 0px;"><a href="http://directlabour.com.au" target="_blank" color="#000000" class="contact-info__ExternalLink-sc-mmkjr6-2 ibLXSU" style="text-decoration: none; color: rgb(0, 0, 0); font-size: 13px;font-weight: 300;font-family: 'Roboto', sans-serif;"><span>www.directlabour.com.au</span></a></td>
                                  </tr>
                               </tbody>
                            </table>
                            <table cellpadding="0" cellspacing="0" class="table__StyledTable-sc-1avdl6r-0 kAbRZI" style="vertical-align: -webkit-baseline-middle; font-size: large; font-family: Arial;">
                               <tbody>
                                 <tr height="35">
                                    <td style="text-align: center;">
                                       <table cellpadding="0" cellspacing="0" class="table__StyledTable-sc-1avdl6r-0 kAbRZI" style="display: inline-block; vertical-align: -webkit-baseline-middle; font-size: large; font-family: Arial;">
                                          <tbody>
                                             <tr style="text-align: center;">
                                                <td ><a href="https://www.instagram.com/directlabour/" target="_blank" color="#e63223" class="social-links__LinkAnchor-sc-py8uhj-2 hBVWAh" style="display: inline-block; padding: 0px; background-color: rgb(230, 50, 35);"><img src="https://cdn2.hubspot.net/hubfs/53/tools/email-signature-generator/icons/instagram-icon-2x.png" alt="instagram" color="#e63223" height="18" class="social-links__LinkImage-sc-py8uhj-1 hSTSwA" style="background-color: rgb(230, 50, 35); max-width: 135px; display: block;"></a></td>
                                                <td width="5">
                                                   <div></div>
                                                </td>
                                                <td><a href="https://www.facebook.com/WorkinginAustralia/" target="_blank" color="#e63223" class="social-links__LinkAnchor-sc-py8uhj-2 hBVWAh" style="display: inline-block; padding: 0px; background-color: rgb(230, 50, 35);"><img src="https://cdn2.hubspot.net/hubfs/53/tools/email-signature-generator/icons/facebook-icon-2x.png" alt="facebook" color="#e63223" height="18" class="social-links__LinkImage-sc-py8uhj-1 hSTSwA" style="background-color: rgb(230, 50, 35); max-width: 135px; display: block;"></a></td>
                                                <td width="5">
                                                   <div></div>
                                                </td>
                                                <td><a href="https://www.linkedin.com/company/direct-labour/" target="_blank" color="#e63223" class="social-links__LinkAnchor-sc-py8uhj-2 hBVWAh" style="display: inline-block; padding: 0px; background-color: rgb(230, 50, 35);"><img src="https://cdn2.hubspot.net/hubfs/53/tools/email-signature-generator/icons/linkedin-icon-2x.png" alt="linkedin" color="#e63223" height="18" class="social-links__LinkImage-sc-py8uhj-1 hSTSwA" style="background-color: rgb(230, 50, 35); max-width: 135px; display: block;"></a></td>
                                                <td width="5">
                                                   <div></div>
                                                </td>

                                             </tr>
                                          </tbody>
                                       </table>
                                    </td>
                                 </tr>
                               </tbody>
                            </table>
                         </td>
                      </tr>
                      
                   </tbody>
                </table>
             </td>
          </tr>
       </tbody>
    </table>
 </div>
